/* .container{
  width: 90;
  margin: auto;
} */

/* .branding{
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
ul{
  display: flex;
}
li{
  list-style: none;
  margin: 1rem;
}
a{
  text-decoration: none;
  color: black;
}
img{
  margin-bottom: 1rem;
}
a::hover{
  text-decoration: underline;
} */
/* main */
#hero{
  background-image: url(../assets/hotel-pool-1345952.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
}
.hero{
  position: relative;
  top: 10rem;
}
.hero-content-text{
  margin-left: 3rem;
  color:blue;
  text-align: center;

}
.hero-content-text p{
  font-weight: bold;
  font-style: italic;
  margin-right: 1.5rem;
}
/* section */
.blueline {
  content: "";
  position: relative;
  width: 80px;
  height: 8px;
  background-color: #1500ff;
  left: 47%;
  top: 1.5rem;
}
.line-heading {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 1rem;
  /* border: 2px solid red; */
}
.btn {
  padding: 0.9rem 0.9rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  min-height: 3.5rem;
}
.primary-btn {
  background-color: #007bff;
  color: white;
  border: none;

}
.secondary-btn {
  background-color: white;
  color: #007bff;
 

}
.footer-head1{
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 1.5rem;

}
.footer-head2{
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 1rem;

}
.footer-head{
  background-color: black;
  color:white;
}
